body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  max-width: 430px;
  background: #fff;
  padding: 20px;
  margin: 30px auto;
  border-radius: 12px;
}

h2 {
  text-align: center;
}

label {
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #000;
  color: #fff;
  border-radius: 6px;
  border: none;
}

textarea {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 13px;
}
